<div class="container">
  <div class="signin-container">
    <div class="full-width">
      <img src="../../../../assets/images/logo.png" class="logo" />
    </div>

    <div class="content-container">
      <h2>Welcome Back</h2>
      <p>Welcome back! Please enter your details</p>

      <div class="input-container">
        <div class="label">Email</div>
        <input type="text" class="input" />
      </div>
      <div class="input-container">
        <div class="label">Password</div>
        <input type="text" class="input" />
      </div>
      <div class="input-container">
        <div class="forgot-password">Forgot Password?</div>
      </div>

      <div class="btn">Login</div>

      <div class="input-container">
        <div class="signup">If you don't have any account.<b >Sign Up</b> </div>
      </div>
    </div>
    <div class="full-width">
      <p class="footer">copyright 2023.</p>
    </div>
  </div>

  <img src="../../../../assets/images/background.jpeg" class="hero-seaction" />
</div>
