<div class="container">
  <div class="signin-container">
    <div class="full-width">
        <h2 class="logo">Logo</h2>
    </div>

    <div class="content-container">

        <h2>Welcome Back</h2>
        <p>Welcome back! Please enter your details</p>

        <div class="input-container">
            <div class="label">Email</div>
            <input type="text"  class="input" />
        </div>
        <div class="input-container">
            <div class="label">Password</div>
            <input type="text"  class="input" />
        </div>

        <div class="btn">
            Login
        </div>

    </div>
   <div class="full-width">
       <h2 class="footer">Footer</h2>
   </div>

  </div>

  <img src="../../../../assets/images/background.jpeg" class="hero-seaction" />
</div>
